@font-face {font-family: "iconfont";
  src: url('./iconfont.ttf'); /* IE9 */
  src: url('./iconfont.ttf') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK0AAsAAAAABngAAAJqAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgpgdQE2AiQDDAsIAAQgBYRtBzcbvAUR1Ytzsj8lp9fbVOcoEgS7BoGllot2fKbuji/uE2w2LGgiz6d+IY1m0jJBVGvZs7MHz6gCJFNRwA4QhWMLVJ6Fj4/REYaNiMpufxhokkeJZF4gBZFXQUQBFlgYPwD6ISKUWUYAzLSDUVqvbECFzqGDr0w6PM+UssXNzRiuRkUoluQ8+F++I51AuJBfPs/l9EYBBTK/1XaZYzw/6gUYBxToHhgdWRElxC2yi/idtOTnECBIFQf1OziJjwWtE0AO21nDL+WxWKvlI7gtRy1yDwffXPDgTn5f/rz4YHAUtHV0e2CT7s+mziUvcgIFENTTDqBAC8CCLLfWZ1HE4imCdtvf62IRzFIlEakPrS7+wwODgLig4TAADZrNPJSBSmDgi/GpmwrwdNKQB1S4aZYECYePuBxlaq56bglhE9SwRDTURqvTJCJcGfuq3/1rSLBV7Wf0nAKgrfwGAQRWHu5Y+/e1BeBjSa8FNgg+BsCGP2QAjtnQhAJqfT3Vx0klDIgaUEeCwD9KJ7nT3Zm7aAs+mQlWLzDdUdKnJicttwUOIVrh4tOFIM2E0yFSRBSxAaCJqkCIs2CI8g4lziYt98Ahy4NLXBRBpiV1ZYg6MVMYtaAD84dk6fAkJCoZvWF4b5qLJsl/IV+pBGM3VFsrHshL7Lg+YRLx4Jl2WJTXcNsITqaMVroocs5979tY6iztlaowakEH5g/J0uH5dFG1z98wvDfNPYyB+gv5SvPD2A0AcrUfIMajvHN9wiTiwTPtsCiLcNsIzvZFGa10cUL1nHs8yUPt3fbO/f/OAMEK7dbaiIqlnPQRNbXSV1U=') format('woff2'),
  url('./iconfont.ttf') format('woff'),
  url('./iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('./iconfont.ttf') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jianhao:before {
  content: "\e729";
}

.icon-jia:before {
  content: "\e687";
}

